html{
    font-size:62.5%;
    box-sizing:border-box;
}
body{
    margin:0 auto;
    font-size:1.4rem;
    text-align: center;
}
.msg_erreur_acces{
    font-family:'Dancing Script',cursive;
    font-weight: bold;
    font-size:2rem;
    color:red;
}
.navig { 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a{
    font-family:Lato,sans-serif;
    font-size:2rem;
    margin:5px;
    text-decoration:none;
    color:grey;
}
.page:hover{
    color:green;
}
